footer {
  text-align: center;
  padding: 15px 0;
  background-color: black;
  color: white;
  font-weight: 500;
  width: 100vw;
  flex-shrink: 0;
  margin-top: 20px;
}

footer a {
  color: #ffd700;
  text-decoration: none;
  font-weight: 600;
}
