.rules-wrapper {
    margin: 20px;
}

.rules {
    max-width: 500px;
    margin: auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin-top: 20px;
}

.rules h2 {
    display: inline-block;
    margin-bottom: 20px;
    padding: 0 20px 10px 20px;
    border-bottom: 2px solid #FFD700;
}

.rules li::marker {
    color: #FFD700;
}

.rules li {
    font-weight: 600;
    font-size: 1em;
    text-align: left;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .rules li {
        font-size: 0.9em;
    }
}
