.game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Oswald", sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: auto;
  max-width: 600px;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
  .game-over {
    padding: 20px;
    width: 90%;
  }
}
