.start {
    width: 98vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.353);
}

.start h1 {
    font-size: 3.5em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.352);
  }

  .start p {
    margin-bottom: 32px;
    color: red;
    text-shadow: 1px 1px 1px black;
    font-size: 20px;
    font-weight: bold;
  }

  