#root {
  margin: auto;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-grow: 1;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.55);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: -1;
}

@media (max-width: 600px) {
  .App {
    padding-top: 100px;
    width: 90vw;
  }
}
