#root {
  margin: auto;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 600px) {
  .App {
    padding: 50px 0;
  }
}

