html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  background-image: url("/public/images/background.jpg");
  background-size: cover;
  color: white;
  overflow-x: hidden;
}

h1 {
  font-family: "Oswald", sans-serif;
}

button {
  background-color: #8b0000;
  color: #ffffff;
  padding: 0 30px;
  border: 2px solid white;
  border-radius: 25px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background-color: #a40000;
}
