html, body {
    height: 100%;
  }
  
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  background-image: url('/public/images/background.jpg');
  background-size: cover;
  color: white;
}

h1 {
  font-family: "Oswald", sans-serif;
}

button {
  background-color: #8B0000;
  color: #ffffff;
  padding: 0 35px;
  border: 2px solid white;
  border-radius: 25px;
  height: 50px;
  width: 270px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: .4s;
}

button:hover {
  background-color: #A40000;
}
